/**
 * Created by Mili on 2017/11/7.
 */

.couponContainer {
  .padding(20px);

  .coupon {
    .fBox(@dire: column, @justify: center);
    .height(270px);
    background: @whiteC;
    box-shadow: rgba(0, 0, 0, .2) 0 0 10px 0;

    .merchant {
      .width(80px);
      .height(80px);
      .borderRa(50%);
      .fBox(@justify: center);
      background: #F4F4F4;
      overflow: hidden;

      img {
        .width(110%);
      }
    }

    .title {
      .font(18px, #666);
      .marginT(30px);
    }

    .condition {
      .font(12px, @textC1);
      .marginT(8px);
    }

    .getButton {
      .width(40%);
      .marginT(30px);
    }
  }

  .lacework {
    height: 6px;
    background: @whiteC;
    background: radial-gradient(circle, transparent 4px, rgba(161, 161, 161, .1) 4px, rgba(161, 161, 161, .2) 5px, @whiteC 6px);
    background-size: 12px 12px;
    background-position: -6px 0px;
  }

  .dialog-demo {
    .weui-dialog{
      border-radius: 8px;

      .dialog-title {
        line-height: 50px;
        color: #666;
      }

      .img-box {
        height: 300px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .vux-close {
        line-height: 50px;
      }
    }
  }
}
