/**
 * Created by Mili on 2017/11/7.
 */

.couponContainer {
  .padding(25px);

  .couponList {
    li {
      .marginB(25px);

      .coupon {
        background: @whiteC;
        box-shadow: rgba(0, 0, 0, .2) 0 0 10px 0;

        .top {
          .height(38px);
          .padding(0, 10px);
          .fBox(@dire: row);

          .text {
            .font(16px);
          }

          .arrow {
            &::before {
              .width(2px);
              .height(8px);
              .borderRa(2px);
              content: "";
              display: block;
              background: fade(@whiteC, 70%);
              transform-origin: bottom right;
              transform: rotate(-45deg);
            }

            &::after {
              .width(2px);
              .height(8px);
              .borderRa(2px);
              content: "";
              display: block;
              background: fade(@whiteC, 70%);
              transform-origin: top right;
              transform: rotate(45deg);
            }
          }
        }

        .content {
          .fBox();
          .padding(10px, 0px);

          .money {
            .width(28%);
            .font(16px);
            text-align: center;

            span {
              .font(28px);
              font-weight: 600;
            }
          }

          .detail {
            .padding(5px, 0px);
            .flex();
            .paddingL(10px);
            border-left: 1px #e4e4e4 solid;

            .couponNum {
              .font(14px, @textC1);
            }

            .condition {
              .font(12px, @textC2, 16px);
              .marginT(10px);
            }

            .time {
              .font(12px, @textC3);
              .marginT(15px);
            }
          }
        }
      }

      .lacework {
        height: 6px;
        background: @whiteC;
        background: radial-gradient(circle, transparent 4px, rgba(195, 195, 195, .2) 5px, @whiteC 6px);
        background-size: 12px 12px;
        background-position: -6px 0px;
      }

      &:active {
        .coupon {
          background: darken(@whiteC, 2%);
        }
      }
    }
  }

  .dialogContainer {
    .fBox(@dire: column, @justify: center);
    .paddingT(128px);
    position: relative;

    .dialogLogo {
      .width(85%);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .main {
      .width(100%);
      .borderRa(20px);
      background: @whiteC;

      .title {
        .font(18px, @textC1, 70px);
      }

      .footer {
        .font(16px, @textC2, 60px);
      }
    }

    .closeBar {
      .fBox(@dire: column);

      .line {
        .height(40px);
        width: 1px;
        background: @whiteC;
      }

      .button {
        .width(30px);
        .height(30px);
        .fBox(@justify: center);
        .borderRa(50%);
        border: 1px @whiteC solid;

        em {
          .width(2px);
          .height(18px);
          display: block;
          background: #fff;
          transform: rotate(-45deg);

          &::after {
            .width(2px);
            .height(18px);
            content: "";
            display: block;
            background: #fff;
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}
