/*重置*/
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  //font-size: 12px;   /*字号基数值：12px*/
  font-family:  "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 24px;
  }
}

ul,
ol,
li,
img,
a,
em,
strong,
form,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-style: normal;
  list-style: none;
}

img {
  display: block;
}

// 修改vux
.vux-loading .weui-toast {
  .width(120px);
  margin-left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}


